<form class="form" action="#!" id="auth-login" style="text-align:center;">
    <div class="control">
        <label>Username</label>
        <input type="text" id="i-username" style="text-align:center;">
    </div>
    <div class="control">
        <label>Password</label>
        <input type="password" id="i-password" style="text-align:center;">
    </div>
    <div class="control">
        <input type="submit" class="btn btn-primary" value="Login">
    </div>
</form>