<form id="put-payload" class="form horizontal">
    <div class="control">
        <label id="id">Identifier</label>
        <input type="text" name="id" value="<%= app.identity.id %>" disabled>
    </div>
    <div id="data-generators"></div>
    <div class="control" id="data-definition">
        <label id="data">Data</label>
        <textarea name="data"><%= JSON.stringify(app.attributes) %></textarea>
    </div>
    <input type="submit" value="Update Payload" class="button">
</form>

<p><em><a href="#" id="destroy-payload">Delete Payload</a></em></p>