<form id="put-attribute" class="form horizontal">
    <div class="control">
        <label>Name</label>
        <input type="text" name="id" value="<%= attribute.name %>" disabled>
    </div>
    <div id="data-generators"></div>
    <div class="control" id="data-definition">
        <label for="i-data-definition">Data</label>
        <textarea name="data" id="i-data-definition"><%= JSON.stringify(attribute.options) %></textarea>
    </div>
    <input type="submit" value="Update Attribute" class="button">
</form>

<p><em><a href="#" id="destroy-attribute">Reset Payload</a></em></p>