<form id="put-attribute" class="form horizontal">
    <div class="control">
        <label>Name</label>
        <input type="text" name="id" value="<%= attribute.name %>" disabled>
    </div>
    <div id="data-generators"></div>
    <div class="control" id="data-definition">
        <label for="i-data-definition">Data</label>
        <textarea name="data" id="i-data-definition" style="width:100%;height:72px;"><%= JSON.stringify(attribute.options) %></textarea>
    </div>
    <input type="submit" value="Update Attribute" class="btn btn-primary">
    <button id="destroy-attribute" class="btn btn-danger">Reset Attribute</button>
    <button data-controller="Attributes" class="btn btn-default">Cancel</button>
</form>